@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/*font-family: 'Poppins', sans-serif;*/

.menu {
    background: rgba(242, 252, 253, 1);
}
.main{
    width: 100vw;
    height: 100vh;
}

.img_card{
    width: 100%;
    height: 190.93px;
    
}

.flex_cards{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
}

.Sidebar{
    width: 14rem;
    height: calc(213vh );
    border-right: 2px solid Blue;
}
.lista{
    list-style: none;
    padding: 1rem 2rem;
}
.elm_lista {
    margin-bottom: 1rem;
}
a{
    text-decoration: none;

}
&.active{
    background-color: gray;

}

.products_main{
    position: relative;
    height: 128.5vh;
    width: 100vw;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-top: 10vh;

}

.regions_main{
    position: relative;
    height: 128.5vh;
    width: 100vw;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-top: 16.39vh;
}
