.main-grid{
    display: grid;
    grid-column: 4;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.celdas{
    width: 300px;
    justify-content: center;
    margin-top: 20px;
}
.fotos{
    margin-left: 40px;
    width: 280px;
    height: auto;
}
.img-product{
    width: 100px;
    height: 100px;
}
.descripciones{
    margin-top: 3px;
    background-color: rgba(255, 123, 0, 0.788);
    padding-left: 70px;
    
}
.valores{
    margin-top:20px;
    background-color: rgba(255, 123, 0, 0.788);
    padding-left:70px;
}
footer{
    background: #000000;
    padding: 50px 0 10px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #f4f4f4;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

