@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/*font-family: 'Poppins', sans-serif;*/

.main{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/Background_login.jpg);
    display: flex;
    justify-content: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
.card_main{
    position: relative;
    height: 90vh;
    width: 70vw;
    background: rgba(60, 59, 58, 0.900);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 5vh;
}

.card_form{
    width: 45%;
    height: 100%;
    padding: 20px 20px 20px 55px;
    background: rgb(255, 252, 252)5;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card_form h4{
    font-size: 24px;
    color:rgb(255, 255, 255);
    
}
.card_form h5{
    width: 90%;
    color:rgb(255, 255, 255);
}

.input_user{
    margin: 1%;
    margin-left: 5%;
    color: azure;
}
.input_password{
    margin: 1%;
    margin-left: 5%;
    
}

.inputs {
    width: 100%;
    height: 40px;
    margin: 10px 10% 10px 0;
    position: relative;
    border-color: rgb(255, 255, 255)4;
    border-radius: 10px;
    padding-inline: 15px;
    background: rgba(0, 0, 0, 0.753);
    
}
.inputs input{
    border-color: rgb(255, 254, 254);
}

.labels{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
.photo{
    background-image: linear-gradient(120deg, rgb(254, 254, 254) 0%rgb(250, 250, 250)fa 100%);
    background-size: cover;
    width: 55%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img{
    height: 90%;
    width: 100%;
    color: black;
}

.option{
    color:rgb(0, 0, 0);
    margin: -5px 0 10px;
    display: flex;
    justify-content: space-between;
}
.option label{
    color:white;
    margin-right: 50px;
    margin-left: 10px;
}
.option a{
    color: aliceblue;
    margin-right: 10px;
    text-decoration: none;
}
.option a:hover{
    text-decoration: underline;
    color: blue;
}
.lgnBtn {
    display: flex;
    justify-content: space-between;
}
.lgnBtn button{
    color: white;
    border-color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 30px;
}
