header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(0, 0, 0); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    height: 10vh;

}

.navigation a {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    color: white;
}
.navigation a::after{
    content: '';
    position: absolute;
    left:0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;

}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
    
}

.navigation .btnLgn-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btnLgn-popup:hover{
    background:rgb(20, 76, 4);
}

.logo {
    width: 8rem;
    height: 3rem;
}


/*.color1 { #408f3d };
.color2 { #5bc22f };
.color3 { #44af20 };
.color4 { #2d9d10 };
.color5 { #006700 };*/

/*#46d641*/