@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/*font-family: 'Poppins', sans-serif;*/

.main{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/Background_login.jpg);
    display: flex;
    justify-content: center;
    background-size: cover;
}
.card_main_snup{
    position: relative;
    height: 98vh;
    width: 70vw;
    background: rgba(60, 59, 58, 0.655);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 1vh;
}

.card_form_snup{
    width: 45%;
    height: 100%;
    padding: 30px 30px 30px 50px ;
    background: rgb(255, 252, 252)5;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-start;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.card_form_snup h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color:rgb(255, 255, 255);
    ;
}

.card_form_snup img{
    width: 15%;
    height: 15%;
}


.input_user{
    margin: 1%;

}
.input_password{
    margin: 1%;

}
.input_name{
    margin: 1%;

}
.input_lastname{
    margin: 1%;

}
.input_email{
    margin: 1%;
    

}


.inputs_snup{
    width:350px;
    height: 40px;
    margin: 30px 0;
    position: relative;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-inline: 15px;
    background: rgba(0, 0, 0, 0.418);
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.labels{
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgb(255, 255, 255);
}
.photo{
    background-image: linear-gradient(120deg, rgb(254, 254, 254) 0%rgb(250, 250, 250)fa 100%);
    background-size: cover;
    width: 55%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img{
    height: 80%;
    width: 70%;
    border-radius: 20px;
    
}


.sgnBtn button{
    color: white;
    border-color: white;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
